@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.navbar {
  background-color: #0ddf72;
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 1000;
  font-family: 'Tinos', serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
}
  /* box-shadow: 0 8px 6px -6px #123524;
  --webkit-box-shadow: 0 8px 6px -6px rgb(13, 7, 10);
  border-bottom: solid rgb(0, 0, 0) !important;
} */

.nav-link {
  
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid rgb(19, 14, 14);
}

.navbar-brand {
  font-weight: 1000;
  font-family: 'Tinos', serif;
  letter-spacing: 2px;
  background-color: #0ddf72;
}

.layoutStyle { 
  min-height: 80vh; 
  padding-top: 10vh; 
  background-color: rgb(255, 255, 255); 
}

.footer {
  color: #123524;
  padding: 20px;
  background: #0ddf72;/* Chrome 10-25, Safari 5.1-6 */
   /* linear-gradient(to right, #ffffff, #ffffff); */
}

.footer a {
  text-decoration: none;
  color: #123524;
  padding: 10px;
}

.footer a:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: #123524;
  border: 1px solid #123524;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: #123524;
  color: white;
}

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decorative-font {
  font-family: 'Pacifico', cursive;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.custom-bg {
  background-color: #123524;
}

.product-link{
  text-decoration: none!important;
  color:#123524;
}








.custom-left-space {
  padding-left: 15%; 
}




.filter-title {
  color: #123524;
  justify-items: center;
  font-weight: bold;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-left: 10%;
}

.filter-section {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #123524;
  border-radius: 5px;
  margin-left: 10%;
}

.filter-checkbox, .filter-radio {
  margin-bottom: 10px;
  color: #123524;
}

.reset-btn {
  background-color: #123524;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.reset-btn:hover {
  background-color: #0ddf72;
  color: #123524;
}
